/*==========================

Flex Layout

================================*/


@media only screen and (min-width: 320px) {

.body {
    overflow: scroll;
}


nav a {
	
    text-transform: uppercase;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    display: block;
    flex-basis: 100%;
    flex: 1; 
       
    
} 

 

  .flex-container {
    display: flex;
    flex-direction: row; 
    text-align: center;
    justify-content: space-evenly;
    column-fill: auto;

  }

.column-1,
 .column-2 {
	 
    width: 100%;
  

} 


.col,
.col-2 { 
 flex-basis: 100%; 
  

 
  
}
.flex-row {
	display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
} 


}
@media only screen and (min-width: 800px) {
 
.body {
    overflow: scroll;
}


 .container-fluid {
	display: inline-block;
 
    
}


.center {
  
  margin-left: auto;
  margin-right: auto;
  
}


 nav a {
	 padding: 10px 15px;
	text-transform: uppercase; 
    display: inline-block;
} 




  .flex-container {
    display: flex;
    flex-direction: row; 
    text-align: center;
    justify-content: space-evenly;
    column-fill: auto;

  }

.column-1,
 .column-2 {
	 
    width: 50%;

} 

.col,
.col-2 { 
  
 flex-basis: 30%; 
}
  
  
.flex-row {
	display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
} 





@media (min-width: 1200px) {

.body {
    overflow: scroll;
}

.container-fluid {
	display: inline-block;
 
    
}




.center {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

 
  nav a {
	
	text-transform: uppercase;
    display: inline-block;
    

}  

  .flex-container {
    display: flex;
    flex-direction: row; 
    text-align: center;
    justify-content: space-evenly;
    column-fill: auto;

  }

.column-1,
 .column-2 {
	 
    width: 50%;

} 



  .col,
  .col-2 { 
  
 flex-basis: 30%; 
  
}

.flex-row {
	display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
   
}

}