* Body {
    box-sizing: border-box;

     
}


.body {
    font-size: 1em;
    text-align: center;
	font-family: 'Varela Round', sans-serif;
    border: 10mm groove mediumspringgreen;
  
    }

.header {
    width: 100%; 
     background: url(../img/spices-2.jpg) no-repeat 50% 50% / cover;
     fill-opacity: inherit;
   
}


.header nav {
    text-align: center; 
}

.header nav button {
    list-style-type: none;
    display: inline-block;
    
}

.header nav button a {
    display: block; 
    text-decoration: none; 
    text-transform: Uppercase;
    color: peachpuff; 
    font-size: 15px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: 600; 
    padding: 25px; 
    transition: all ease 0.5s; 
}

.header nav button a:hover {
    background-color:#00fa9a;
}


button {
    background: mediumspringgreen;
    border: peachpuff;
    padding-left: 20px;
    padding-right: 20px; 
    border-radius: 10px;
    margin: 5px;
}


.column-1 {
    padding: 75px; 
    margin-top: 30px; 
    color: mediumspringgreen;
    font-size: 15px;
    text-align: center; 
    color: peachpuff;
   
   
   

} 

ul li {
    list-style-type: none;
    padding: 5px; 
    margin: 10px; 
}

.title:nth-child(n) {
    background-color: #663399;
}
.highlight:nth-child(n) {
    background-color: #663399;
    border: 2px solid #00fa9a; 
    
    
}

button:nth-child(n) {
    background-color: #663399;
    color: mediumspringgreen;
}



h3 {
    color: peachpuff;
}


 .flex-container-1 {
    border: 3px solid #303030; 
    padding: 20px; 
    width: 350px;
    text-align: center;
    border-radius: 4px;
    position: relative;
}

.flex-row {

color: mediumspringgreen;
}

 .col {
    border: 2px solid peachpuff;
    background-color: mediumspringgreen;
    color: #663399;
}

.col img {
    border: 2px solid peachpuff;
    background-color: mediumspringgreen;
    color: #663399;
    border-radius: 100%;
}

.col-2 {
    border-right: 2px solid mediumspringgreen;
    border-left: 2px solid mediumspringgreen;
    border-bottom: 2px solid mediumspringgreen;  
    border-top: 2px solid mediumspringgreen; 



     
}

  


/*==================================

      Media queries

======================================*/


 @media only screen and (min-width: 320px) { 

body {
    background-color: #663399;
    
}

.col-2 {
    background-color: #663399;
}

 

 @media only screen and (min-width: 800px) { 
 

 .column-1 {
     font-size: 1.5em;
 }
    
/* @media only screen and (min-width: 1200px) { */


    

