* Body {
    box-sizing: border-box;

     
}
 


/*==================================

      Media queries

======================================*/


 @media only screen and (min-width: 320px) { 

    body {
    font-size: 1em;
    text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background:  #663399;
    border: 10mm groove mediumspringgreen;
     

}  

.header {
    width: 100%; 
     background: url(../img/spices-2.jpg) no-repeat 50% 50% / cover;
     fill-opacity: inherit;
   
}

.header nav {
    text-align: center; 
}

.header nav button {
    list-style-type: none;
    display: inline-block;
    
}

.header nav button a {
    display: block; 
    text-decoration: none; 
    text-transform: Uppercase;
    color: #ffdab9; 
    font-size: 10px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: 600; 
    padding: 25px; 
    transition: all ease 0.5s; 
}

.header nav button a:hover {
    background-color: #211b4385;
}


button {
    background: mediumspringgreen;
    border: peachpuff;
    padding-left: 20px;
    padding-right: 20px; 
    border-radius: 10px;
    margin: 5px;
}





.column-1 {
    padding: 75px; 
    margin-top: 30px; 
    color: mediumspringgreen;
    font-size: 15px;
    text-align: center; 
    /* border: solid 3px mediumspringgreen; */
    color: peachpuff;
    /* background: url(../img/pexels-august-de-richelieu-4262009.jpg) no-repeat; 
    background-position: center; */
   
   

}


ul li {
    list-style-type: none;
    padding: 5px; 
    margin: 10px; 
}

.flex-row {

color: mediumspringgreen;
}

h3 {
    color: peachpuff;
}
    .flex-container-1 {
    border: 3px solid #303030; 
    padding: 20px; 
    width: 350px;
    text-align: center;
    border-radius: 4px;
    position: relative;
}

.col {
    border: 2px solid peachpuff;
    background-color: mediumspringgreen;
    color: #663399;
    
}

.col img {
    border: 2px solid peachpuff;
    background-color: mediumspringgreen;
    color: #663399;
    border-radius: 100%;

}

.col-2 {
    border-right: 2px solid mediumspringgreen;
    border-left: 2px solid mediumspringgreen;
    border-bottom: 2px solid mediumspringgreen;

}



@media only screen and (min-width: 800px) {


.body {
    font-size: 1em;
    text-align: center;
	font-family: 'Varela Round', sans-serif;
    background: rebeccapurple;
    border: 10mm groove mediumspringgreen;
  
    }

.header {
    width: 100%; 
    background-color: #663399;
}

.header nav {
    text-align: center; 
}

.header nav button {
    list-style-type: none;
    display: inline-block;
    
}

.header nav button a {
    display: block; 
    text-decoration: none; 
    text-transform: Uppercase;
    color: #fff; 
    font-size: 15px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: 600; 
    padding: 25px; 
    transition: all ease 0.5s; 
}

.header nav button a:hover {
    background-color: #211b4385;
}

button {
    background: mediumspringgreen;
    border: peachpuff;
    padding-left: 20px;
    padding-right: 20px; 
    border-radius: 10px;
    margin: 5px;
}


.flex-container {
    padding: 75px; 
    margin-top: 30px; 
    font-size: 15px;
    text-align: center; 
    color: mediumspringgreen;  

 } 





.column-1 {
    padding: 75px; 
    margin-top: 30px; 
    font-size: 15px;
    text-align: center; 
    color: peachpuff;
    
    
}


.flex-row {
color: mediumspringgreen;
}

h3 {
    color: mediumspringgreen;
}

.col {
    border: 2px solid peachpuff;
    background-color: mediumspringgreen;
    color: #663399;
}

.col img {
    border: 2px solid peachpuff;
    background-color: mediumspringgreen;
    color: #663399;
    border-radius: 100%;
}

.col-2 {
    border-right: 2px solid mediumspringgreen;
    border-left: 2px solid mediumspringgreen;
    border-bottom: 2px solid mediumspringgreen;
}

@media only screen and (min-width: 1200px) {


    


.body {
    font-size: 1em;
    text-align: center;
	font-family: 'Varela Round', sans-serif;
    border: 10mm groove mediumspringgreen;
  
    }


.header {
    width: 100%; 
    background-color: #663399;
}

.header nav {
    text-align: center; 
}

.header nav button {
    list-style-type: none;
    display: inline-block;
    
}

.header nav button a {
    display: block; 
    text-decoration: none; 
    text-transform: Uppercase;
    color: #fff; 
    font-size: 15px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: 600; 
    padding: 25px; 
    transition: all ease 0.5s; 
}

.header nav button a:hover {
    background-color: #663399;
}


button {
    background: mediumspringgreen;
    border: peachpuff;
    padding-left: 20px;
    padding-right: 20px; 
    border-radius: 10px;
    margin: 5px;
}


.column-1 {
    padding: 75px; 
    margin-top: 30px; 
    font-size: 20px;
    text-align: center; 
    color: peachpuff;
    /* border: solid 3px mediumspringgreen; */
    /* background: url(../img/pexels-august-de-richelieu-4262009.jpg) no-repeat 35% 35% / cover; 
    background-position: center; */
    
    
   
}

.flex-row {
color: peachpuff;


}

h3 {
    color: peachpuff;
}

.col {
    border: 2px solid peachpuff;
    background-color: mediumspringgreen;
    color: #663399;
}

.col img {
    border: 2px solid peachpuff;
    background-color: mediumspringgreen;
    color: #663399;
    border-radius: 100%;
}

.col-2 {
    border-right: 2px solid mediumspringgreen;
    border-left: 2px solid mediumspringgreen;
    border-bottom: 2px solid mediumspringgreen;
}

}