/*==========================

Flex Layout

================================*/


@media only screen and (min-width: 375px) {

.body {
    overflow: scroll;
}

.wrapper {
    height: 25vh;
    display: flex;
    margin-block: 10px;

}

.container-3 {
  display: flex;
  flex-wrap: wrap;
}

 .nav-link a {
	/* padding: 10px 15px; */
    text-transform: uppercase;
    flex-direction: column;
    align-items: baseline;
    
    
} 

.flex-container,
.col  {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    

}


.col {
    
    flex-grow: 1;
    width: 100%; 
    padding: 100px;

}

@media (min-width: 576px) {

.body {
    overflow: scroll;
}


 .container-fluid {
	display: inline-block;
 
    
}

.wrapper {
    height: 25vh;
    display: flex;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.nav-link a {
	/* padding: 10px 15px; */
	text-transform: uppercase;
    display: inline-block;
}

/* .container-2,
.nav-link a {
    /* display: flex;
    flex-direction: row; */
    /* margin-left: auto; 
    margin-right: auto;  */



.col  {
    
	display: flex;
    flex-direction: column; 
    flex-basis: auto;
}


.col {
    border: 1px solid rebeccapurple; 
    flex-grow: 1;
    width: 100%; 
    padding: 100px;

}

.container-4 {
    flex-grow: 1;

}

@media (min-width: 992px) {

.body {
    overflow: scroll;
}

.wrapper {
    height: 25vh;
    display: flex;

}
.flex-container {
    /* display: inline-block; */
  display: flex;

	   
}


.center {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}


.nav-link a {
	/* padding: 10px 15px; */
	text-transform: uppercase;
    display: block;
    /* align-items: stretch; */
    /* justify-content: space-around; */

}

  

  

h2,
p {
    text-align: center;
}



.col {
    border: 1px solid rebeccapurple; 
    flex-grow: 1;
    width: 100%; 
    padding: 100px;
}
