* Body {
    box-sizing: border-box;
     
}
 

/* .body {
	font-size: 3em;
	font-family: 'Varela Round', sans-serif;
	background: rebeccapurple;
	padding-left: 5%;
    padding-right: 5%;
    
} */



/*==================================

      Media queries

======================================*/

@media only screen and (min-width: 375px) {





    body {
    /* font-size: 1em; */
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background: rebeccapurple; 
    border: 10mm groove mediumspringgreen;
    /* height: 100%;  */
    }

}

/* .container-fluid {
    color: rebeccapurle;
    background-color: peachpuff;
    font-size: 15px;
    text-align: center;

    
} */

.wrapper {

    font-size: 3em;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;

}



/* .container-2, */
.container-3,
.container-4 {
    
    color: rebeccapurple;
    /* background-color: peachpuff; */
    font-size: 15px;
    text-align: center;
}
    


 .container-2 {
    list-style-type: none; /*get rid of bullets*/
 
    
}

.container-2,
.bg-img {
    background-image: url("pexels-pixabay-277253.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50px;
} 



.nav-link a:hover {

    font-size: 30px; 
}

.nav-link a {
	font-size: 0.8em;
    text-transform: uppercase;
    /* margin: auto;  */
    display: inline-block;
    background: mediumspringgreen;

}
.col-1,
.col-2,
.col-3,
.column {
 border: 2px solid mediumspringgreen; 

}
    


@media (min-width: 576px) {


.body {
    font-size: 1em;
	font-family: 'Varela Round', sans-serif;
    /* background: rebeccapurple;  */
    border: 10mm groove mediumspringgreen;
	/* padding-left: 5%;
    padding-right: 5%; */
    /* height: 100%;  */
    }

}  

.wrapper {

    font-size: 3em;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* .container-fluid,
.container-2,
.container-3,
.container-4  */
.flex-container {
    padding: 75px; 
    margin-top: 30px; 
    color: rebeccapurple;
    /* background-color: peachpuff;  */
    font-size: 15px;
    text-align: center; 
    

 } 


.container-2,
.bg-img {
    background-image: url("pexels-pixabay-277253.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50px;
} 


.nav-link a:hover {
    font-size: 30px; 
}

.nav-link a {
	font-size: 1em;
    text-transform: uppercase;
    display: inline-block;
    background: mediumspringgreen;
    margin: 10px; 
}

.col-1,
.col-2,
.col-3,
.column {
 border: 2px solid peachpuff;
}


@media (min-width: 992px) {

    .body {
    font-size: 1em;
	font-family: 'Varela Round', sans-serif;
    /* background: rebeccapurple;  */
    border: 10mm groove mediumspringgreen;
	/* padding-left: 5%;
    padding-right: 5%;  */
    /* height: 100%;
    } */

} 

.wrapper {

    font-size: 3em;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container-2, 
.bg-img {
    background-image: url("pexels-pixabay-277253.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 25px; */
} 



.container-2,
.flex-container { 
    padding: 75px; 
    margin-top: 30px;
    color: peachpuff;
    /* background-color: peachpuff; */
    font-size: 25px;
    text-align: center;
    

}


.nav-link a:hover {
    font-size: 30px; 
}

.nav-link a {

    text-transform: uppercase;
    display: inline-block;
    background: mediumspringgreen;
    /* margin: 10px;   */
}

/* .column {
    border 
} */

.col-1,
.col-2,
.col-3,
.column {
 border: 2px solid mediumspringgreen;
}

}